@page "/"
@using IpaHosting.Controllers

<PageTitle>Home</PageTitle>

@foreach(var identifier in _appIdentifiers)
{
    <div>
        <span>@identifier</span>
    </div>
}

@code {
    [Inject]
    public required IStorageService StorageService { get; init; }

    string[] _appIdentifiers = new string[0];

    protected override Task OnInitializedAsync()
    {
        _appIdentifiers = StorageService.GetIdentifiers(PackageKind.Ipa).ToArray();

        return Task.CompletedTask;
    }
}